<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246161893617-p5l248h4ksvbto2mo5b2pfavoq1crs35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246161893617-p5l248h4ksvbto2mo5b2pfavoq1crs35</string>
	<key>API_KEY</key>
	<string>AIzaSyCpcjIemdCGFRNkTWNKq6BsljeTWvYQR8E</string>
	<key>GCM_SENDER_ID</key>
	<string>246161893617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.islandTourPlanner</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-starter-7c77a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-starter-7c77a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246161893617:ios:fe8920731f0f8a1b4ba150</string>
</dict>
</plist>